<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="driverManagerDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="initialPoolSize" value="5"/>
        <property name="minPoolSize" value="5"/>
        <property name="maxPoolSize" value="25"/>
        <property name="acquireIncrement" value="1"/>
        <property name="maxStatements" value="250"/>
        <property name="maxStatementsPerConnection" value="10"/>
        <property name="checkoutTimeout" value="100000"/>
        <property name="idleConnectionTestPeriod" value="300"/>
        <property name="maxIdleTime" value="300"/>
        <property name="maxIdleTimeExcessConnections" value="240"/>
        <property name="testConnectionOnCheckin" value="true"/>
        <property name="unreturnedConnectionTimeout" value="360"/>
        <property name="numHelperThreads" value="8"/>
    </bean>

    <bean id="localSessionFactoryBean" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="driverManagerDataSource"/>
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="localSessionFactoryBean"/>
    </bean>

    <tx:annotation-driven/>

</beans>